name: Status

on:
  workflow_dispatch:

  schedule:
    - cron: '*/5 * * * *'

jobs:
  status:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        port: [22, 22040, 22041, 22042, 22043, 22044, 22076, 22162, 22238, 22333, 23172, 23173, 23269, 23333, 23541, 24114, 24151, 24222, 24242, 24410, 24426, 24612, 24808, 25202, 25888, 26128, 26397, 26666, 26999, 27001, 27118, 27221, 27234, 27282, 27777, 27863, 27888, 28002, 28003, 28180]
        host: ["relay.aosc.io", "relay-inet.aosc.io", "relay-cn.aosc.io"]
      fail-fast: false

    steps:
      - name: Check the status of buildbots
        env:
          PORT: ${{matrix.port}}
          HOST: ${{matrix.host}}
        run: ssh-keyscan -p $PORT -T 240 $HOST
